

.negri{
    font-weight: bold;
}

.celeste{
    color: #2A7AE4;
}

.boton{
    cursor: pointer;
    border: 1px solid #2A7AE4;
    padding: 10px 25px;
}

.pri{
    background: #2A7AE4;
    color: #fff;
    
}

.sec{
    background: #fff;
    color: #2A7AE4;
}

a{
    text-decoration: none;
}